*{
    font-family: Arial, Helvetica, sans-serif;
}
#padre{
    background-image: url(imagenes/fondo.jpg);
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
}
#cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#cabecera img{
    border-radius: 50%;
    padding: 20px;
    width: 100px;
}
#titulo1{
    background-color: white;
    padding: 1px;
    color: rgb(15, 164, 223);
    text-shadow: 1px 8px 7px gray;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    border-radius: 2px;
    font-size: 30px;
}
#ale{
    background-color: white;
    width: 110px;
    height: auto;
    padding: 2px;
    font-size: 10px;
    border-radius: 2px;
    margin: 1px;
}
#alee{
    display: flex;
    justify-content: end;
}
.contenido{
    border: 3px solid black;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.contenido img{
    display: block;
    margin: auto;
    padding: auto;
    width: 30%;
}
.html1{
    background-color: #F54927;
    margin: auto;
    padding: 5px;
    font-size: 10px;
    border-radius: 1px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.css1{
    margin: auto;
    padding: 5px;
    font-size: 10px;
    border-radius: 1px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #3b83bd;
}
.java1{
    margin: auto;
    padding: 5px;
    font-size: 10px;
    border-radius: 1px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(113, 179, 14, 0.63);
}
.deshtml{
    background-color: rgb(241, 233, 222);
    border: 2px solid gray;
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
}
.descss{
    background-color: rgb(205, 222, 245);
    border: 2px solid gray;
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
}
.desjava{
    background-color: rgb(220, 240, 212);
    border: 2px solid gray;
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
}
#casa{
    
    display: flex;
    justify-content: center;
    margin: 10px;
}
#casa img{
    width: 50%;
    border: 2px solid gray;
    display: block;
    box-shadow: 10px 11px 5px gray 
}
#cuadro{
    background-color: rgb(243, 248, 250);
    margin: 20px;
    padding: 10px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    box-shadow: 2px 3px 10px; 
}

